[Unit]
Description=Espanso text expander daemon
Documentation=https://espanso.org/docs/

[Service]
ExecStart=/usr/bin/espanso daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target

