[Unit]
Description=Set freedesktop SecretService default alias to login collection
Documentation=https://specifications.freedesktop.org/secret-service/latest/
After=gnome-keyring-daemon.service dbus.socket
Requires=dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/busctl --user call org.freedesktop.secrets /org/freedesktop/secrets org.freedesktop.Secret.Service SetAlias so "default" "/org/freedesktop/secrets/collection/login"
RemainAfterExit=yes

[Install]
WantedBy=default.target
