[Unit]
Description=SwayOSD - On-screen display for Wayland
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/sbin/swayosd-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
