{{- $isBluefin := contains (output "cat" "/etc/os-release" | default "") "VARIANT_ID=\"bluefin\"" -}}
{{- $remote := and (not $isBluefin) (or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not)) -}}
{{- $containerName := output "hostname" | trim -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}
  gpgKeyId = "207F38BA91AB8330DBF08766B4320995C8E1D17D"

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}
