{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}
{{- $inDistrobox := env "CONTAINER_ID" | not | not -}}
{{- $containerName := output "hostname" | trim -}}

{{- /* Only prompt if we're on a host machine (not in distrobox/remote) */ -}}
{{- $installArchToolbox := false -}}
{{- if not $remote -}}
{{-   $installArchToolbox = promptBoolOnce . "installArchToolbox" "Do you want to install arch-toolbox container" false -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}
  inDistrobox = {{ $inDistrobox }}
  containerName = {{ $containerName | quote }}
  installArchToolbox = {{ $installArchToolbox }}
  dotfilesRepo = {{ .chezmoi.sourceDir | quote }}

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}
