# Regular tools for all environments
[tools]
age = "latest"
bat = "latest"
{{- if not .isMacOS }}
btop = "latest"
{{- end }}
bun = "latest"
chezmoi = "latest"
claude = "latest"
cloudflared = "latest"
direnv = "latest"
docker-compose = "latest"
doppler = "latest"
doggo = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
flux2 = "latest"
gemini = "latest"
go = "latest"
gitui = "latest"
gum = "latest"
infisical = "latest"
lazydocker = "latest"
terraform = "latest"
k9s = "latest"
kubectl = "latest"
kubeseal = "latest"
lazygit = "latest"
{{- if not .isMacOS }}
navi = "latest"
{{- end }}
neovim = "0.11.4"
node = "22.21.0"
"github:sst/opencode" = "latest"
python = "3.12.12"
ripgrep = "latest"
starship = "1.23.0"
swag = "latest"
uv = "latest"
yazi = "latest"
zellij = "latest"
zoxide = "latest"
