# Regular tools for all environments
[tools]
age = "latest"
auggie = "latest"
bat = "latest"
{{- if not .isMacOS }}
btop = "latest"
{{- end }}
bun = "latest"
chezmoi = "latest"
claude = "latest"
direnv = "latest"
docker-compose = "latest"
doggo = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gemini = "latest"
go = "latest"
gitui = "latest"
lazygit = "latest"
{{- if not .isMacOS }}
navi = "latest"
{{- end }}
neovim = "0.11.4"
node = "22.21.0"
opencode = "latest"
python = "3.12.12"
ripgrep = "latest"
starship = "1.23.0"
uv = "latest"
yazi = "latest"
zellij = "latest"
zoxide = "latest"
