# 15-shell-options.sh - Shell behavior and options

# Enable vi mode for bash
set -o vi

# Make ESC key more responsive in vi mode
export KEYSEQTIMEOUT=1

source <(direnv hook bash)

{{ if not .remote -}}
source <(ssh-agent -s) > /dev/null 2>&1
ssh-add ~/.ssh/id_ed25519 > /dev/null 2>&1
{{ end -}}

